body{
    margin: 0;
    font-family: 'Montserrat';
    overflow-x: hidden;
    background-color: whitesmoke;
}


.blog-content-title{
	margin: 1em 0 1em 0;
	font-size: 2.5em;
	font-weight: 500;
	text-align: center;
}

.blog-content{
	margin-left: 20px;
	width: 95%;
	text-align: justify;
}

.blog-content-image img{
	width: 100%;
	height: 400px;
	border: 3px solid black;
}

.blog-content-subtitle{
	font-weight: bold;
	margin-bottom: 1.7em;
}

.blog-share{
	margin: 2em 0 4em 0;
}

.blog-share p{
	display: inline-block;
	font-weight: bold;
	font-size: 20px;
}

.blog-share a{
	text-decoration: none;
	color: black;
}


.blog-side .bg-image img{
	height: 300px;
	width: 400px;
	border: 3px solid black;
}

.blog-side .sm-image img{
	height: 150px;
	width: 50%;
	border: 3px solid black;
}

.blog-side .blog-side-text {
	margin-top: 3em;
	float: right; 
	width: 47%; 
	font-weight: bold;
}

.blog-side .blog-side-text p{
	font-weight: 500;
}
